<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://fakeimg.pl/1140x300/" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="http://fakeimg.pl/1140x300/" alt="...">
      <div class="carousel-caption">

      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>


<!-- <iframe src="/pdf#zoom=120" style="width:85%; height:1020px;" frameborder="0"></iframe> -->

<!--
Rules of Slapong

Overview of the Sport

Slapong is a unique sport, but fundamentally its gameplay is a blend of table tennis, volleyball, and dodgeball.  In the middle of a field, two teams of two or more players are positioned on opposite ends of a bowtie-shaped table across which they volley a ball (volleyball, table tennis).  Each volley begins with a serve from the team that maintained possession of the ball by winning the previous volley (volleyball, table tennis). When the ball is on their side, a team's players prevent the loss of a volley by using a maximum of two touches (by different players) to keep the ball off the ground (volleyball) before returning it to the opposing team by bouncing it off the table and into their half of the field (table tennis).  Then, the opposing team must keep the ball off the ground and return it; so proceeds the game in general.  If a team wins a volley that they served (i.e. they had possession), they gain one point (volleyball).  In addition to keeping the ball off the ground, players can attempt to win volleys by hitting opponents directly with the ball or by catching balls hit at them (dodgeball).

Note
In some situations, the spirit of Slapong demands exceptions to rules that apply most of the time.  When a rule has an exception, its description will be immediately followed by a set of parentheses containing the italicized name of the maneuver that is a departure from the rule.


Anatomy


An official Slapong table is shaped like a bow-tie and has the following dimensions:

1. Width at ends = 5 feet 2 inches
2. Width at center = 4 feet
3. Length = 16 feet
4. Height above ground = 42 inches

The table is positioned in the center of field whose boundary is a scaled-up outline of the table.  A midline running perpendicular to the table's long axis divides the field into two halves of equal area.  A service line runs parallel to the back edge of the table and extends to the boundary.  The service line does not exist underneath the table.


Contest Structure - Clips, Racks, and Showings


A single game of Slapong is called a clip.  Clips are played to fifteen points and a team must win by two points.  Win three of five clips to win a rack.  Win two of three racks to win a showing and become the undisputed masters of Slapong at your current location.


The Ball - Alive or Dead


The ball is primary instrument of Slapong, and what happens to it determines whether a team wins or loses.  The ball can assume one of two states in Slapong - alive or dead.  During every volley, play continues when the ball is alive, and ends when it is dead.  The completely a scrumble pass and the serve is the only action which make the ball live.



Beginning a Rack - The Scrumble

At the beginning of every rack, possession is determined by the scrumble.  To position themselves for the scrumble the players line up on the sides of the table; half on one side, half on the other, while ensuring that players from the same team do not stand next to each other.  The ball is placed in the center of the table and the players put their fingers beneath the ball while keeping the ball on the table.  At the end of a three-step countdown, all players lift their arms and propel the ball upwards.  The scrumble has begun!  After the ball begins to fall, any player may attempt to seize the ball and complete one pass to a team member who becomes a setter.  This setter may immediately serve to any team member and begin the first volley of the game with their team in possession of the ball.  Players may use any means to strip the ball from opponents and interfere with passes so long as they do not use excessive violence such as a punch, kick, head butt, knee, elbow, sand thrown in the eyes, etcetera.  The complete definition of excessive violence should be determined and agreed upon by the players before the start of the rack.


Serving
When in possession of the ball, a team serves to begin a volley or hunt an opponent.  In Slapong, serving is performed by two teammates who assume the roles of setter and stryker.  The setter delivers a serve-toss to the stryker who hits the ball across the table to the opposing team.  Players retain the position of stryker until their team loses possession;  upon regaining possession, the next player in the stryke cycle becomes the stryker.

The serve-toss is illegal only if the ball:
1. Touches the table before being touched by the stryker (Echo serve).
2. Is still in contact with the setter's body when touched by the stryker.

A stryker's serve is illegal only if:
1. If any part of the stryker touches the ground outside the service zone.
2. The stryker touches the ball more than once after it leaves the setter.
3. It is not that player's turn to stryke (i.e. they don't follow the stryke cycle).
4. The stryker uses a kick with motion towards the ground to hit the ball.

If a team makes an illegal serve, possession is immediately forfeited to the opposing team.


Keeping the Ball Alive (Volleys)


After the team with possession serves to begin the volley, it continues as long as the ball remains alive.  When a ball is alive within a team's half of the field and not over the table, it is their responsibility to handle the ball and keep it alive until the ball can be returned to the opposing team; allowing it to die will result in the other team winning the volley.  Upon winning a volley the serving team earns a point and maintains possession; if the receiving team wins, they take possession.



While Handling


If any of the following situations occurs when a team is handling the ball, the ball dies and that team loses the volley:

1. The ball touches the ground.
2. A player handles the ball with an illegal motion.
3. The team touches the ball four times (Glory).
4. After their team's first touch, a player sets the ball (Saving).
5. A player touches the ball twice before another player touches the ball (Backfire)
6. A player touches the ball while any part of their body is within the opposing team's half (Skying).

When Returning

If any of the following situations occurs when a player attempts to return the ball, the ball dies and that player's team loses the volley.

If the ball:

1. Touches the table twice.
2. Rolls on the table.
3. Has no perceivable upward motion after touching a long side of the table (McGowan).
4. Does not touch the table before hitting the ground. (Swatting).
5. Does not cross the midline before landing.
6. Goes out-of-bounds before touching an opposing player.

At All Times

It is illegal to:

1. Stand or kneel on the table.
2. Interfere with an opponent's efforts to handle or return the ball (unless at half...jump ball)
3. Purposefully move the table.



Illegal Motion

Slapong players may use almost any body movement to affect the motion of the ball, but to ensure provocative game-play there are a few restrictions on handling technique.

The following techniques are always illegal when used to handle or return the ball:

1. Gripping the ball with the fingers.
2. Catching the ball.
3. Throwing the ball.

The legality of the following techniques are flexible and dependent upon the situation.  The greater a player's need to save the ball from dying, the more they can use these techniques.

Carrying the ball



Saving


Skying

Definition:  A player skies when they cross the midline
A player may cross the halfway line with their feet off the ground and touch the ball while their body is still in the air.  This motion is known as skying.   Last step must come before the line.

Running the Table

Glory

If any touch is glorious

Glorious touch:
1. Dives (hands and feet)
2. Bringing it back from deep (from out of bounds, maybe)
3. Second and third hits must be saves or attempts on table
4. Headers
5. Any touch that makes everybody say "ohhh"





Hunting

In addition to keeping the ball alive until the opposing team lets it die, teams may win volleys by directly hitting opposing players with the ball.  This activity is known as hunting.  A playing may hunt off of a serve.

Ball that has not touched the table is charged.

A hunt is successful if the ball:

1. Does not touch the table before touching an opposing player.
2. Touches the ground after touching one or more opposing players.
3. Is not legally neutralized.

If the hunt is successful, every player touched by the ball receives an out and the hunting team wins the volley.
Even if a save attempted by a coworker, if the ball touches the ground both workers are hunted.

Hunts can be neutralized if the ball is...

1. Caught after touching one or more players.
2. Successfully returned.
3. Used to successfully hunt an opposing player.

You must either go for hunt defense or return.

Cannot catch ball over the table.


When defending against a hunt by catching the ball, players may touch the ball any number of times in any manner before catching it - only when the ball touches the ground does the hunt become successful.  A hunt may also be defended by returning the ball as if it had bounced from the table.  If a team's return attempt fails, the hunt is successful.

Hunters still have bullets.
Double-play.
Return hunt off of bobble.

Once one play touches the ball twice in a row, it is catch or nothing.  However, hunters may still jump pass the line for a double-play.  (Double-hunt) (Doubleplay)

Outs

Players who are successfully hunted are penalized with an out.  If a player receives three outs during a rack, they must stand out-of-bounds for five serves as punishment for being a good target.  During that time they may handle balls according to the usual rules, but if they touch a ball while any part of their body is in-bounds, the ball dies and their team loses the volley.  Immediately after the ball is slapped by a stryker on the fifth serve, the outted player's punishment ends and they must return in-bounds before handling the ball again. -->
